
BlurBG.xcodeproj/project.xcworkspace/xcuserdata/gadotori.xcuserdatad/UserInterfaceState.xcuserstate

BlurBG.xcodeproj/xcuserdata/gadotori.xcuserdatad/xcschemes/BlurBG.xcscheme

BlurBG.xcodeproj/xcuserdata/gadotori.xcuserdatad/xcschemes/xcschememanagement.plist
